## Research

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('ev_registrations.csv', dtype = str)

## Texas 2023 ev registration data from evhub: https://www.atlasevhub.com/materials/state-ev-registration-data/#data-format

In [17]:
df.head()

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,TX,77044,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
1,TX,75204,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
2,TX,78736,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
3,TX,76020,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
4,TX,75707,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False

In [26]:
df.shape

(641033, 13)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641033 entries, 0 to 641032
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   state                     641033 non-null  object
 1   zip_code                  641033 non-null  object
 2   registration_date         641033 non-null  object
 3   vehicle_make              641033 non-null  object
 4   vehicle_model             641033 non-null  object
 5   vehicle_model_year        641033 non-null  object
 6   drivetrain_type           641033 non-null  object
 7   vehicle_gvwr_class        641033 non-null  object
 8   vehicle_category          641033 non-null  object
 9   vehicle_count             641033 non-null  object
 10  dmv_snapshot_id           641033 non-null  object
 11  dmv_snapshot_(date)       641033 non-null  object
 12  latest_dmv_snapshot_flag  641033 non-null  object
dtypes: object(13)
memory usage: 63.6+ MB

In [18]:
df.isnull().sum()

State                       0
ZIP Code                    0
Registration Date           0
Vehicle Make                0
Vehicle Model               0
Vehicle Model Year          0
Drivetrain Type             0
Vehicle GVWR Class          0
Vehicle Category            0
Vehicle Count               0
DMV Snapshot ID             0
DMV Snapshot (Date)         0
Latest DMV Snapshot Flag    0
dtype: int64

In [21]:
df.columns = df.columns.str.replace(' ', '_')

In [23]:
df.columns = df.columns.str.lower()

In [24]:
df.head()

,state,zip_code,registration_date,vehicle_make,vehicle_model,vehicle_model_year,drivetrain_type,vehicle_gvwr_class,vehicle_category,vehicle_count,dmv_snapshot_id,dmv_snapshot_(date),latest_dmv_snapshot_flag
0,TX,77044,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
1,TX,75204,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
2,TX,78736,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
3,TX,76020,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
4,TX,75707,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False

## My goal is to identify the most common ev make/model/year and use that to do more research on kwh/mile, battery types, plug compatibility

## This research will allow me to determine station placement and what level and networks are most efficient

In [37]:
df.vehicle_make.value_counts()/641033

TESLA                                   0.501155
CHEVROLET                               0.082996
BMW                                     0.070546
FORD                                    0.063315
NISSAN                                  0.041656
TOYOTA                                  0.030343
AUDI                                    0.024195
JEEP                                    0.022224
VOLVO                                   0.021663
PORSCHE                                 0.021197
CHRYSLER                                0.019497
KIA                                     0.016792
VOLKSWAGEN                              0.011698
HONDA                                   0.009592
HYUNDAI                                 0.008854
MERCEDES-BENZ                           0.008663
RIVIAN                                  0.007722
FIAT                                    0.005594
MITSUBISHI                              0.004326
CADILLAC                                0.004282
LINCOLN                                 0.004271
MINI                                    0.003936
POLESTAR                                0.003608
SMART                                   0.002090
JAGUAR                                  0.001984
LUCID                                   0.001555
LEXUS                                   0.000874
GEM                                     0.000783
LAND ROVER                              0.000738
SUBARU                                  0.000671
FISKER                                  0.000644
GMC                                     0.000557
POLARIS                                 0.000504
GENESIS                                 0.000234
KARMA                                   0.000225
MAZDA                                   0.000190
FERRARI                                 0.000147
BENTLEY                                 0.000145
WORKHORSE                               0.000123
MCLAREN                                 0.000056
NEW FLYER                               0.000053
E-SUV                                   0.000048
CRUISE                                  0.000039
SMITH                                   0.000034
MILES                                   0.000031
WHEEGO ELECTRIC CARS                    0.000020
ALFA ROMEO                              0.000017
E-RIDE                                  0.000017
INTERNATIONAL                           0.000014
PETERBILT                               0.000014
AZURE DYNAMICS                          0.000012
GREEN ELEC-MOTOR                        0.000011
CODA                                    0.000008
FREIGHTLINER                            0.000008
VOLVO TRUCK                             0.000008
XOS                                     0.000008
MITSUBISHI FUSO                         0.000005
TIANJIN QINGYUAN ELECTRIC VEHICLE CO    0.000003
GILLIG                                  0.000003
Name: vehicle_make, dtype: float64

In [36]:
df.vehicle_make.describe()

count     641033
unique        59
top        TESLA
freq      321257
Name: vehicle_make, dtype: object

## 50% registerred ev's are Tesla's. I assume this will not drop significantly for a long time. Therefore Tesla stations (commonly level 3) will be prioritized. 

## What is the cost for these? How will it affect environment? Can we use level 2 stations for Teslas? How does temperatures affect efficiency?

## Tesla Model 3 has a driving range between 300-380 miles

## "It is possible for Tesla vehicles to use J1772, CHAdeMO or CCS Type 1 connectors provided the owner has purchased the appropriate adapter."
## "Starting in spring 2024, electric vehicles from these companies ( Ford, General Motors, Mercedes-Benz, Nissan, Polestar, Rivian and Volvo) will be able to charge at most of Tesla's Superchargers provided they have the necessary adapter."

## Sources: https://www.edmunds.com/electric-car/articles/do-all-electric-cars-use-the-same-charger.html

## https://www.kbb.com/car-advice/what-charger-for-ev/#link5

## https://www.wintonsworld.com/wintonsworld-electric-car-tests-september-2023/

## https://ev-database.org/car/1991/Tesla-Model-3

## https://www.msn.com/en-us/autos/news/cr-s-real-world-ev-range-tests-show-which-models-beat-epa-estimates/ar-AA1l1PRJ#comments

---

In [41]:
df.vehicle_model.value_counts()/641033

MODEL 3          0.220516
MODEL Y          0.111077
MODEL S          0.109871
MODEL X          0.059194
VOLT             0.050400
                   ...
MX-30            0.000003
MILES ZX40ST     0.000003
SV05             0.000003
LOW FLOOR BUS    0.000003
ASPHALT          0.000003
Name: vehicle_model, Length: 160, dtype: float64

In [40]:
df.vehicle_model.describe()

count      641033
unique        160
top       MODEL 3
freq       141358
Name: vehicle_model, dtype: object

## No insights from this

## Does year affect plug type?

In [43]:
df.vehicle_model_year.value_counts()/641033

2022    0.168487
2021    0.148635
2018    0.133893
2023    0.102959
2020    0.097594
2019    0.086563
2017    0.077291
2016    0.050308
2015    0.042920
2014    0.037234
2013    0.031499
2012    0.013283
2011    0.005688
2024    0.002162
2002    0.000378
2010    0.000339
2008    0.000232
2009    0.000126
2000    0.000084
2001    0.000080
2006    0.000059
2005    0.000058
2007    0.000045
2003    0.000025
1999    0.000022
1993    0.000014
2004    0.000011
1998    0.000006
1988    0.000003
1987    0.000002
Name: vehicle_model_year, dtype: float64

In [44]:
df.vehicle_model_year.describe()

count     641033
unique        30
top         2022
freq      108006
Name: vehicle_model_year, dtype: object

## Where do most vehicles reside?

In [46]:
df.zip_code.value_counts()/641033

75035    0.007775
77479    0.007466
78746    0.007390
78613    0.007064
78704    0.007004
           ...
75710    0.000002
77263    0.000002
78951    0.000002
79012    0.000002
73301    0.000002
Name: zip_code, Length: 1816, dtype: float64

In [47]:
df.zip_code.describe()

count     641033
unique      1816
top        75035
freq        4984
Name: zip_code, dtype: object

## Frisco, TX

## according to source below DFW has the most registered evs

## https://app.powerbi.com/view?r=eyJrIjoiYTRlY2M2MTctZDYwZC00MDNjLThkZDMtZjY5N2Y1YzlkNzA5IiwidCI6IjJmNWU3ZWJjLTIyYjAtNGZiZS05MzRjLWFhYmRkYjRlMjliMSIsImMiOjN9

In [50]:
dfw = df[df['zip_code'].str.startswith('75')]

In [61]:
dfw.head()

,state,zip_code,registration_date,vehicle_make,vehicle_model,vehicle_model_year,drivetrain_type,vehicle_gvwr_class,vehicle_category,vehicle_count,dmv_snapshot_id,dmv_snapshot_(date),latest_dmv_snapshot_flag
1,TX,75204,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
4,TX,75707,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
12,TX,75069,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
20,TX,75482,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
25,TX,75287,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False

In [53]:
dfw.zip_code.describe()

count     171257
unique       414
top        75035
freq        4984
Name: zip_code, dtype: object

In [64]:
len(dfw.zip_code)/len(df.zip_code)

0.2671578530278472

In [65]:
len(dfw.zip_code.unique())/len(df.zip_code.unique())

0.22797356828193832

## Does not check out with similar proportion as in the source results 37.16%

Gather more data for cost of each type of station